In [1]:
import pandas as pd 
import json
# import pymongo
from sklearn.compose import ColumnTransformer
import numpy as np

In [2]:
# client = pymongo.MongoClient("mongodb://localhost:27017")
# db = client['restuarant']
# mycollection = db['me']

In [3]:
# all_records = mycollection.find()

In [4]:
# list_cursor  = list(all_records)

In [5]:
# df = pd.DataFrame(list_cursor)

In [6]:
df = pd.read_csv("zomato.csv")

In [7]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [8]:
df.shape

(51717, 17)

In [9]:
df.dtypes

url                            object
address                        object
name                           object
online_order                   object
book_table                     object
rate                           object
votes                           int64
phone                          object
location                       object
rest_type                      object
dish_liked                     object
cuisines                       object
approx_cost(for two people)    object
reviews_list                   object
menu_item                      object
listed_in(type)                object
listed_in(city)                object
dtype: object

In [10]:
df.isna().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [11]:
df = df.drop(['url','phone','address'],axis=1)
df.drop_duplicates(inplace=True)

In [12]:
df.dropna(how='any',inplace=True)

In [13]:
df.shape

(23395, 14)

In [14]:
df = df.rename(columns={'approx_cost(for two people)' : 'cost' , 'listed_in(type)' : 'type', 'listed_in(city)' : 'city'})

In [15]:
df['cost'] = df['cost'].apply(lambda x : x.replace(',',''))
df['cost'] = df['cost'].astype(float)

In [16]:
df = df[df['rate'] != 'NEW']

In [17]:
df['rate'] = df['rate'].apply(lambda x : x.replace('/5',''))
df['rate'] = df['rate'].astype(float)

In [18]:
df.head()

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,cost,reviews_list,menu_item,type,city
0,Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [19]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

In [20]:
# df.online_order[df.online_order == "Yes"] = 1 
# df.online_order[df.online_order == "No"] = 0
# df.book_table[df.book_table == "Yes"] = 1
# df.book_table[df.book_table == "No"] = 0

In [21]:
x = df.iloc[:,[1,2,4,5,6,8,9]]
x.head()

,online_order,book_table,votes,location,rest_type,cuisines,cost
0,Yes,Yes,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0
1,Yes,No,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0
2,Yes,No,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800.0
3,No,No,88,Banashankari,Quick Bites,"South Indian, North Indian",300.0
4,No,No,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600.0

In [22]:
y = df['rate']
y.head()

0    4.1
1    4.1
2    3.8
3    3.7
4    3.8
Name: rate, dtype: float64

In [23]:
df.isna().sum()

name            0
online_order    0
book_table      0
rate            0
votes           0
location        0
rest_type       0
dish_liked      0
cuisines        0
cost            0
reviews_list    0
menu_item       0
type            0
city            0
dtype: int64

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error,mean_squared_error
from sklearn.pipeline import  Pipeline

In [25]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=10)

## Deep learning (ANN)

In [48]:
import tensorflow
from tensorflow import keras

In [49]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [59]:
model = Sequential()
model.add(Dense(1797, activation='tanh',input_dim=1797))
model.add(Dense(1797, activation='tanh'))
model.add(Dense(1, activation='linear'))

In [60]:
model.compile(loss='mean_squared_error', optimizer='Adam')

In [61]:
categorical_features = ["online_order","book_table","location", "rest_type", "cuisines"]
categorical_transformer = OneHotEncoder(sparse=False,handle_unknown="ignore")
step1 =  ColumnTransformer([('ohe',categorical_transformer,categorical_features)], remainder='passthrough')
step2 = model
pipe = Pipeline([('step1',step1),('clf',model)])
pipe.fit(x_train,y_train)

c:\Users\VAISHNO RAIZADA\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\preprocessing\_encoders.py:808: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

509/509 [==============================] - 57s 110ms/step - loss: 3.5746

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ohe',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  ['online_order', 'book_table',
                                                   'location', 'rest_type',
                                                   'cuisines'])])),
                ('clf',
                 <keras.engine.sequential.Sequential object at 0x000002584FF67A60>)])

In [62]:
y_pred = pipe.predict(x_test)

218/218 [==============================] - 4s 16ms/step

In [63]:
print(r2_score(y_test,y_pred))

0.13051570562788717

In [27]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.linear_model import LinearRegression

In [28]:
lr = LinearRegression()
dt = DecisionTreeRegressor(max_depth=5)
rf = RandomForestRegressor(n_estimators=50, random_state=2)
gb = GradientBoostingRegressor(n_estimators=50, random_state=2)
et = ExtraTreesRegressor(n_estimators=50, random_state=2)
bag = BaggingRegressor(n_estimators=50, random_state=2)
knn = KNeighborsRegressor()
ab = AdaBoostRegressor(n_estimators=50, random_state=2)

In [29]:
clfs1 = {    'LR'  :  lr    ,
             'DT' :  dt ,
             'RF' :  rf ,
             'GB' :  gb ,
             'ETR' :  et ,
             'BAGR' :  bag,
             'KNN' :  knn,
             'ABR' :  ab,
}

In [30]:
r2score = []
mae_score = []
mse_score = []
rmse_score = []
adj_r_squared_score_score = []


for name,clf in clfs1.items():
    categorical_features = ["online_order","book_table","location", "rest_type", "cuisines"]

    categorical_transformer = OneHotEncoder(sparse=False,handle_unknown="ignore")

    step1 =  ColumnTransformer([('ohe',categorical_transformer,categorical_features)], remainder='passthrough')

    step2 = clf

    pipe = Pipeline([('step1',step1),('clf',clf)])

    pipe.fit(x_train,y_train)

    y_pred = pipe.predict(x_test)
    
    r2score.append(r2_score(y_test,y_pred))
    mae_score.append(mean_absolute_error(y_test,y_pred))
    mse_score.append(mean_squared_error(y_test,y_pred))
    rmse_score.append(np.sqrt(mean_squared_error(y_test,y_pred)))
    adj_r_squared_score_score.append(1 - ((1 - (r2_score(y_test,y_pred)) )*(6975 - 1)/ (6975 - 1 - 9)))

c:\Users\VAISHNO RAIZADA\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\preprocessing\_encoders.py:808: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\VAISHNO RAIZADA\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\preprocessing\_encoders.py:808: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\VAISHNO RAIZADA\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\preprocessing\_encoders.py:808: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\VAISHNO RAIZADA\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\preprocessing\_encoders.py:808: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\VAISHNO RAIZADA\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\preprocessing\_encoders.py:808: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\VAISHNO RAIZADA\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\preprocessing\_encoders.py:808: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\VAISHNO RAIZADA\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\preprocessing\_encoders.py:808: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\VAISHNO RAIZADA\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\preprocessing\_encoders.py:808: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [31]:
performance_df = pd.DataFrame({'Algorithm':clfs1.keys(), 'R2_Score' :r2score, 'Adjusted R2_Score' : adj_r_squared_score_score, 'Root Mean Square Error' :rmse_score ,'Mean Absolute Error' : mae_score, 'Mean Squared Error' : mse_score}).sort_values('R2_Score',ascending=False)

In [32]:
performance_df

,Algorithm,R2_Score,Adjusted R2_Score,Root Mean Square Error,Mean Absolute Error,Mean Squared Error
4,ETR,9.434490e-01,9.433759e-01,0.101587,0.024146,1.031996e-02
5,BAGR,9.091731e-01,9.090558e-01,0.128744,0.048159,1.657495e-02
2,RF,9.085660e-01,9.084479e-01,0.129173,0.048081,1.668574e-02
6,KNN,6.243608e-01,6.238754e-01,0.261821,0.142887,6.855019e-02
3,GB,3.958136e-01,3.950328e-01,0.332051,0.234992,1.102577e-01
1,DT,3.140197e-01,3.131333e-01,0.353814,0.251305,1.251842e-01
7,ABR,3.163812e-02,3.038682e-02,0.420376,0.350058,1.767158e-01
0,LR,-2.379378e+12,-2.382453e+12,658947.200205,64989.570138,4.342114e+11

In [33]:
import pickle

In [36]:
pickle.dump(pipe,open('ExtraTreesRegressor.pkl','wb'))

In [35]:
# pipe.predict(pd.DataFrame([['Yes','Yes',400, 'Jayanagar', 'Pub', 'BBQ',1200 ]],columns=['online_order','book_table','votes','location', 'rest_type','cuisines','cost']))

array([3.87064974])